*{
    font-family: 'Zen Old Mincho', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color:#333333;
}

h1, h2{
    font-weight: normal;
}




/*header*/


header {
    text-align: center;
    background-image: url(img/header.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 780px;
    padding-top: 108px;
}

p{
    font-size: 20px;
    font-family: 'Zen Old Mincho', serif;
    letter-spacing: 6px;
    color: #fff;

}

h1{
    font-size: 70px;
    font-family: 'Italiana', serif;
    letter-spacing: 14px;
    color: #fff;
    
}




/*advantages*/
.advantages-text{
    background-color: #E0DACA;
    width: 600px;
    height: 460px;
    padding: 30px 43px 30px 163px;
    margin-left: 511px;
    margin-right: 312px;
    margin-bottom: 0;
}

#advantages h2{
    font-size: 50px;
    text-align: center;
    font-family: Italiana;
    margin-top: 100px;
    margin-bottom: 55px;
}

#advantages h3{
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    
}

.adv-main-text{
    font-size: 15px;
    color:#333333;
    letter-spacing: 3px;
}

#advantages br {
    display: block;
    content: "";
    padding: 3px 0;
    }



.adv-number-title{
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    color:#C98529;
    letter-spacing: 2px;
}

.adv-number{
    font-size: 20px;
    color:#333333;
    font-weight: bold;
}



.adv-foto{
    margin: -397px 782px 105px 311px;
}

.adv-airplane{
    margin: -600px 311px 484px 996px;
}



/*fear*/

#fears{
    background-color: #E0DACA;
    background-size: cover;
    padding: 175px 100px 175px 175px;

}

#fears h3{
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    padding-bottom: 63px;
    text-decoration-line: underline;
    text-decoration-color: #C98529;
    text-decoration-thickness: 2px;
    text-underline-offset: 30px;
    font-weight: normal;
      }
      

#fears p{
    font-size: 15px;
    color: #333333;
}

#fears br {
    display: block;
    content: "";
    padding: 3px 0;
    }

.images1 {
    width: 450px;
    height: 414px;
}

.safe{
    display: flex;
    margin-bottom: 170px;
}

.safe-text{
    margin-left: 100px;
    margin-right: 0;
    letter-spacing: 2px;
}

.english{
    margin-bottom: 170px;
    overflow: auto;
    overflow: hidden;
}

.english-text{
    float: left;
    width: 93%;
    margin-right: 50px;
    letter-spacing: 2px;
}


.english-pic{
    float: right;
}

.money{
    display: flex;
}

.money-text{
    margin-left: 100px;
    
}

/*average cost*/


#average {
    text-align:center;
    margin: 100px;
}

#average h2{
    font-size: 50px;
    font-family: Italiana;
}

.subtitle{
    font-size: 18px;
}

 .careful{
    font-size: 12px;
    color:#333333;
}

.images2{
    width: 274px;
    height: 274px;
    }

.countries{
    flex-wrap: wrap;
    gap: 75px;
    display: block;
    text-align: left;
    
}


.country1 {
    justify-content: center;
    margin: 118px;
    display: inline-block;
    flex-wrap: nowrap;
    margin: 180px 0px 180px 0px;
}

.country2 {
    justify-content: center;
    margin: 118px;
    display: inline-block;
    flex-wrap: nowrap;
    margin: 180px 0px 180px 0px;
}

.country3 {
    justify-content: center;
    margin: 118px;
    display: inline-block;
    flex-wrap: nowrap;
    margin: 180px 0px 180px 0px;
}

.country4 {
    justify-content: center;
    margin: 118px;
    display: inline-block;
    flex-wrap: nowrap;
    margin: 180px 0px 180px 0px;
}


.country{
    background-color: #E0DACA;
    width: 350px;
    height: 818px;
    padding: 30px;
    display: inline-block;
    margin: 15px;
}

.country h3{
    font-size: 25px;
    padding-top: 31.5px;
    font-weight: normal;
    color: #333333;
    text-decoration-line: underline;
    text-decoration-color: #C98529;
    text-decoration-thickness: 1px;
    text-underline-offset: 30px;
}

.price{
    font-size: 35px;
    padding-top: 53.5px;
    color: #333333;
}

.actual-price{
    font-size: 15px;
    padding-top: 46.5px;
    color: #333333;

}

.avr-text{
    font-size: 18px;
    padding-top: 52.5px;
    color: #333333;

}

.attention{
    font-size: 15px;
    padding-top: 37.5px;
    color: #333333;

}

/*contact*/
#contact {
    background-size: cover;
    text-align: center;
    background-image: url(img/contact.png);
    height: 207px;
    margin-top: 230px;
    margin-bottom: 30px;
}

#contact h2{
    font-family: Italiana;
    font-size: 50px;
    margin: 56px;
}

/*footer*/
footer{
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}
