*{
    font-family: 'Zen Old Mincho', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color:#333333;
}

h1, h2{
    font-weight: normal;
}



/*firstview*/


.firstview {
    text-align: center;
    background-image: url(img/header.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.firstview p{
    font-size: 20px;
    font-family: 'Zen Old Mincho', serif;
    letter-spacing: 6px;
    color: #fff;
    padding-top: 110px;
}


h1{
    font-size: 70px;
    font-family: 'Italiana', serif;
    letter-spacing: 14px;
    color: #fff;
}


/*advantages*/
#advantages{
    margin: auto;
}

.advantages-except-title{
    position: relative;
    height: 560px;
}

#advantages h2{
    font-size: 50px;
    text-align: center;
    font-family: Italiana;
    margin-top: 100px;
    margin-bottom: 55px;
    letter-spacing: 10px;
}


.advantages-text{
    position: absolute;
    background-color: #E0DACA;
    width: 600px;
    height: 460px;
    padding: 50px 43px 30px 163px;
    left: 38%;
}


#advantages h3{
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px; 
}

.adv-main-text{
    font-size: 15px;
    color:#333333;
    letter-spacing: 3px;
    margin-top: 0px;
    line-height: 28px;
}


.visited{
    display: flex;
    letter-spacing: 2px;
    margin-top: 5px;
}

.visited-title {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#C98529;
    letter-spacing: 2px;
    margin-right: 20px;
}

.count{
    font-size: 20px;
    color:#333333;
    font-weight: bold;
}


.adv-foto{
    position:absolute;
    top: 15%;
    left: 20%;
}

.adv-airplane{
    position:absolute;
    top: 0;
    right: 15%;
}




/*fear*/

#fears{
    background-color: #E0DACA;
    background-size: cover;
    padding: 175px 100px 175px 175px;
}

#fears h3{
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    padding-bottom: 63px;
    border-bottom: 1px solid #C98529;
    padding-bottom: 24px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 5px;
    }
      

#fears p{
    font-size: 15px;
    color: #333333;
    letter-spacing: 3px;
    padding-top: 40px;   
    line-height: 28px;
}


.images1 {
    width: 450px;
    height: 414px;
}

.safe{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 170px;
}

.safe-text{
    width: 450px;
    height: 414px;
}

.english{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 170px;
}

.safe-english{
    width: 450px;
    height: 414px;
}

.money{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto ;
}

.safe-money{
    width: 450px;
    height: 414px;
}


/*average cost*/


#average {
    text-align:center;
    margin: 100px;
}

#average h2{
    font-size: 50px;
    font-family: Italiana;
    letter-spacing: 10px;
}

.subtitle{
    font-size: 18px;
    letter-spacing: 3.6px;
}

 .careful{
    font-size: 12px;
    color:#333333;
    letter-spacing: 2.4px;
}

.country-box {
    justify-content: space-between;
    justify-content: center;
    display: flex;
    margin: 140px 0px 180px 0px;
}


.images2{
    width: 274px;
    height: 274px;
    }

.countries{
    text-align: left;
    
}


.country{
    background-color: #E0DACA;
    width: 350px;
    height: 818px;
    padding: 30px;
    margin: 40px;
}

.country h3{
    font-size: 25px;
    padding-top: 31.5px;
    font-weight: normal;
    color: #333333;
    border-bottom: 1px solid #C98529;
    display: inline-block;
    padding-bottom: 24px;
    text-underline-offset: 30px;
    letter-spacing: 5px;
}

.price{
    font-size: 35px;
    padding-top: 45px;
    color: #333333;
    letter-spacing: 7px;
}

.actual-price{
    font-size: 15px;
    padding-top: 46.5px;
    color: #333333;
    letter-spacing: 3px;
}

.avr-text{
    font-size: 18px;
    padding-top: 50px;
    color: #333333;
    letter-spacing: 3.6px;
}

.attention-group{
    display: flex;
}

.attention-group img{
    width: 17px;
    height: 15px;
    margin: 50px 10px 10px 0;
    float: left;
}

.attention-group p{
    font-size: 15px;
    padding-top: 37px;
    color: #333333;
    letter-spacing: 3px;
}

/*contact*/
#contact {
    background-size: cover;
    text-align: center;
    background-image: url(img/contact.png);
    height: 207px;
    margin-top: 230px;
    margin-bottom: 30px;
    padding: 20px;
}

#contact h2{
    font-family: Italiana;
    font-size: 50px;
    letter-spacing: 10px;
}



.instagram{
    margin: 30px;
    width: 35px;
    height: 35px;
}

.youtube{
    margin: 30px;
    width: 43px;
    height: 30px;
}

.mail{
    margin: 30px;
    width: 31px;
    height: 23px;
}


.icon-group{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.icon-group img {
    cursor: pointer;
  }


/*footer*/
footer{
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}

/*ここまでに全てに共通のスタイル*/

/*ここからレスポンシブ対応のスタイル*/

@media all and (max-width:1190px){


/*firstview*/

.firstview {
    background-image: url(img/header.png);
    background-repeat: no-repeat;
}

.firstview p{
    font-size: 10px;
    letter-spacing: 3px;
}

h1{
    font-size: 30px;
    letter-spacing: 6px;
}

/*advantages*/

#advantages h2{
    font-size: 25px;
    letter-spacing: 5px;
    margin: 60px;
}

.advantages-except-title{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-text{
    background-color: #E0DACA;
    width: 390px;
    padding: 30px;
    justify-content: center;
    left: 0;
}


#advantages h3{
    font-size: 15px;
    padding-bottom: 10px;
    letter-spacing: 3px; 
}

.adv-main-text{
    font-size: 12px;
    letter-spacing: 2.4px;
    margin-top: 10px;
    line-height: 30px;
}


.visited{
    letter-spacing: 1px;
    margin-top: 4px;
}

.visited-title {
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    color:#C98529;
    letter-spacing: 2px;
    margin-right: 20px;
}

.count{
    font-size: 11px;
    color:#333333;
    font-weight: bold;
}


.adv-foto{
    display: none;
}

.adv-airplane{
   display: none;
}



/*fear*/




#fears{
    background-color: #fff;
    padding: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#fears h3{
    font-size: 17px;
    border-bottom: 1px solid #C98529;
    padding-top: 10px 0 24px 0;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
}
      

#fears p{
    width: 350px;
    font-size: 14px;
    color: #333333;
    letter-spacing: 3px;
    padding-top: 40px;
    flex-wrap: wrap;
    
    
}


.images1 {
    width: 350px;
    height: 323px;
    margin: 0 auto ;
}

.safe{
    margin-bottom: 170px;
    display: block;
}

.safe-text{
    margin-left: 0px;
    margin-right: 0;
    letter-spacing: 2px;
}

.english{
    margin-bottom: 170px;
    display: block;
}

.english-text{
    margin-left: 0px;
    margin-right: 0;
    letter-spacing: 2px;
}


.money{
    display: block;
}

.money-text{
    letter-spacing: 2px;
    margin-bottom: 170px;
    margin: 0 0 170px 0;
}




/*average cost*/


#average {
    text-align:center;
    margin: 0px;
}

#average h2{
    font-size: 25px;
    letter-spacing: 5px;
}

.subtitle{
    font-size: 13px;
    letter-spacing: 2.6px;
}

 .careful{
    font-size: 10px;
    color:#333333;
    letter-spacing: 2px;
}

.country-box {
    justify-content: center;
    display: block;
    margin: 0px;   
}


.images2{
    width: 274px;
    height: 274px;
    }

.countries{
    text-align: left;
}



.country{
    background-color: #E0DACA;
    width: 350px;
    height: 706px;
    padding: 30px;
    justify-content: center;
    margin: 50px auto 10px auto;
}

.country h3{
    font-size: 18px;
    padding-top: 30px;
    letter-spacing: 3.6px;
}

.price{
    font-size: 20px;
    padding-top: 35px;
    letter-spacing: 4px;
}

.actual-price{
    font-size: 13px;
    padding-top: 35px;
    letter-spacing: 2.6px;
}

.avr-text{
    font-size: 14px;
    padding-top: 20px;
    letter-spacing: 3px;
}

.attention-group{
    display: flex;
}

.attention-group img{
    width: 17px;
    height: 15px;
    margin: 50px 10px 10px 0;
    float: left;
}

.attention-group p{
    font-size: 13px;
    padding-top: 37px;
    letter-spacing: 2.6px;
}

.country-box{
    justify-content: center;
}
/*contact*/

#contact {
    height: 180px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px;
}

#contact h2{
    font-family: Italiana;
    font-size: 20px;
    letter-spacing: 3px;
}


}











