*{
    font-family: 'Zen Old Mincho', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color:#333333;
}

h1, h2{
    font-weight: normal;
}




/*firstview*/


.firstview {
    text-align: center;
    background-image: url(img/header.png);
    background-size: cover;
    height: 100vh;
}

.firstview p{
    font-size: 20px;
    font-family: 'Zen Old Mincho', serif;
    letter-spacing: 6px;
    color: #fff;
    padding-top: 110px;
}


h1{
    font-size: 70px;
    font-family: 'Italiana', serif;
    letter-spacing: 14px;
    color: #fff;
    
}




/*advantages*/
#advantages{
    margin: auto;
}

#advantages h2{
    font-size: 50px;
    text-align: center;
    font-family: Italiana;
    margin-top: 100px;
    margin-bottom: 55px;
    letter-spacing: 20px;
}

.advantages-except-title{
    margin: auto;
}

.advantages-text{
    background-color: #E0DACA;
    width: 600px;
    height: 460px;
    padding: 30px 43px 30px 163px;
    margin-left: 511px;
    margin-right: 312px;
    margin-bottom: 0;
}


#advantages h3{
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    
}

.adv-main-text{
    font-size: 15px;
    color:#333333;
    letter-spacing: 3px;
}

.visited{
    display: flex;
    letter-spacing: 2px;
}

.visited-title {
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    color:#C98529;
    letter-spacing: 2px;
    margin-right: 20px;
}

.count{
    font-size: 20px;
    color:#333333;
    font-weight: bold;
}

/* 
.adv-number-title1 {
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    color:#C98529;
    letter-spacing: 2px;
    display: flex;
    margin-right: 20px;
}

.adv-number-title2 {
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    color:#C98529;
    letter-spacing: 2px;
}

.adv-number{
    display: flex;
    letter-spacing: 3px;
}

.adv-number1{
    font-size: 20px;
    color:#333333;
    font-weight: bold;
    display: flex;
    margin-right: 87px;
}

.adv-number2{
    font-size: 20px;
    color:#333333;
    font-weight: bold;
} */



.adv-foto{
    margin: -397px 782px 105px 311px;
}

.adv-airplane{
    margin: -600px 311px 484px 996px;
}



/*fear*/

#fears{
    background-color: #E0DACA;
    background-size: cover;
    padding: 175px 100px 175px 175px;

}

#fears h3{
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    padding-bottom: 63px;
    border-bottom: 1px solid #C98529;
    padding-bottom: 24px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 5px;
      }
      

#fears p{
    font-size: 15px;
    color: #333333;
    letter-spacing: 3px;
}

#fears br {
    display: block;
    content: "";
    padding: 3px 0;
    }

.images1 {
    width: 450px;
    height: 414px;
}

.safe{
    display: flex;
    margin-bottom: 170px;
}

.safe-text{
    margin-left: 100px;
    margin-right: 0;
    letter-spacing: 2px;
}

.english{
    margin-bottom: 170px;
    overflow: auto;
    overflow: hidden;
}

.english-text{
    float: left;
    width: 93%;
    margin-right: 50px;
    letter-spacing: 2px;
}


.english-pic{
    float: right;
}

.money{
    display: flex;
}

.money-text{
    margin-left: 100px;
    
}

/*average cost*/


#average {
    text-align:center;
    margin: 100px;
}

#average h2{
    font-size: 50px;
    font-family: Italiana;
    letter-spacing: 20px;
}

.subtitle{
    font-size: 18px;
    letter-spacing: 3.6px;
}

 .careful{
    font-size: 12px;
    color:#333333;
    letter-spacing: 2.4px;
}

.images2{
    width: 274px;
    height: 274px;
    }

.countries{
    text-align: left;
    
}

.country-box {
    justify-content: center;
    display: flex;
    margin: 180px 0px 180px 0px;
}



.country{
    background-color: #E0DACA;
    width: 350px;
    height: 818px;
    padding: 30px;
    margin: 15px;
}

.country h3{
    font-size: 25px;
    padding-top: 31.5px;
    font-weight: normal;
    color: #333333;
    border-bottom: 1px solid #C98529;
    display: flex;
    padding-bottom: 24px;
    text-underline-offset: 30px;
    letter-spacing: 5px;
}

.price{
    font-size: 35px;
    padding-top: 53.5px;
    color: #333333;
    letter-spacing: 7px;
}

.actual-price{
    font-size: 15px;
    padding-top: 46.5px;
    color: #333333;
    letter-spacing: 3px;
}

.avr-text{
    font-size: 18px;
    padding-top: 52.5px;
    color: #333333;
    letter-spacing: 3.6px;
}

.attention{
    font-size: 15px;
    padding-top: 37.5px;
    color: #333333;
    letter-spacing: 3px;
}

/*contact*/
#contact {
    background-size: cover;
    text-align: center;
    background-image: url(img/contact.png);
    height: 207px;
    margin-top: 230px;
    margin-bottom: 30px;
    padding: 20px;
}

#contact h2{
    font-family: Italiana;
    font-size: 50px;
    letter-spacing: 20px;
}

.icon{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#contact img{
    margin: 43px;
    width: 35px;
    height: 35px;
}


/*footer*/
footer{
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}
